.appLogo {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    margin: auto;
    width: 150px;
    color: white;
}

#iconAppLogo {
    margin: auto;
}

#titleAppLogo {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#titleAppLogo > a {
    color: white;
    text-decoration: none;
}

#app-header {
    background: rgb(93, 56, 182);
    background: linear-gradient(90deg, rgba(93, 56, 182, 1) 0%, rgba(152, 121, 237, 1) 69%);
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 10px;
}

#adminsectionLink {
    font-size: 12px;
    color: white;
    text-align: right;
    justify-content: right;
}

#headerToolbar {
    flex-wrap: wrap;
}

.footer-links {
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.footer-links a {
    color: white;
}

.footer-link-element {
    padding-right: 20px;
}

#app-skeleton {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#app-footer {
    font-size: 10px;
    color: white;
    background: rgb(93, 56, 182);
    background: linear-gradient(90deg, rgba(93, 56, 182, 1) 0%, rgba(152, 121, 237, 1) 69%);
}
